body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .cards {
  position: relative;
  background-position: center;
  background-size: cover;
  margin: 1em 2em;
  width: 330px;
  height: 450px;
  border: solid .5px rgba(38,38,38,1);
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrapper span {
  line-height: 45px;
  font-size: 20px;
  padding: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /*background-color is added via Js*/
}

.hover_text {
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.hover_text {
  padding: 0 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards:hover .hover_text {
  visibility: visible;
  opacity: 1;
}

.hover_text h3, span, p {
  margin-bottom: 1.25rem;
}
